.contain{
  text-align: center;
}

.itemrow{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 200px;
}

.cuore{
  display: none;
  color: red;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  left: 45%;
}

.itemrow:hover .cuore{
  display: block
}
.sconto{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.itemrow:nth-child(2) .sconto{
  background-color: red;
}

img{
  display: relative;
  height: 100%;
  width: 100%;
}
